<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Test Data</title>
</head>
<body>
    <h1>Flask Test Data</h1>
    <h2>This test prints all users from the DB virtual machine</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for test in data%}
            <tr>
                <td>{{test.id}}</td>
                <td>{{test.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>